body{
	background-image: url("../imagenes/002.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

@keyframes carta1{
	0%{	
		z-index: 2;
		top: 480px;
		left: 550px;
	}
	100%{
		top: 220px;
		left: 220px;
		transform: rotateZ(-90deg);

	}
}

#Carta{
	
	position: relative;
	top: 480px;
	left: 550px;
	width: 1000px;
	height:480px ;
	border: 1px solid black;
		animation-name: carta1;
		animation-delay: 14s;
		animation-duration: 5s;
		animation-fill-mode: forwards;
	
}

.Fondo{
	background-image:url("../imagenes/Paisaje.jpg") ;
	background-size: 100%;
	background-repeat: no-repeat;
}

@keyframes carta2{
	0%{	
		left: 550px;
		transform: rotateZ(0deg);
	}

	50%{
		left: 900px;
		transform: rotateZ(0deg);
	}
	75%{

		left: 1250px;
		transform: rotateZ(0deg);
	}
	100%{
		left: 1290px;
		transform: rotateZ(90deg);
	}
}



#Carta2{
	position: relative;
	left: 550px;
	width: 1000px;
	height:480px ;
	border: 1px solid black;
	z-index: -1;
		animation-name: carta2;
		animation-delay: 14s;
		animation-duration: 20s;
		animation-fill-mode: forwards;

}

.Fondo2{
	background-image: url("../imagenes/frases.jpg");
	background-repeat: no-repeat;
	background-size: 100%;


}

#Carta3{
	position: relative;
	width: 1000px;
	height:480px ;
	border: 1px solid black;
	bottom: 485px;
	left: 550px;
	z-index: -2;
}

.Fondo3{
	background-image: url("../imagenes/frozen.jpg");
	background-repeat: no-repeat;
	background-size: 115%;	
}


@keyframes olaf{
	0%{
		opacity: 0;
		bottom: 0px;
		right: 0px;
		z-index: -2;
	}
	25%{
		opacity: 0.25;
		right: 100;
	}
	50%{
		opacity: 0.5;
		right: 200;

	}
	75%{
		opacity: 0.75;
		right: 300;

	}
	100%{
		opacity: 1;
		right: 350px;

	}
}
.olaf{
	opacity: 0;
	position: absolute;
	bottom: 0px;
	right: 0px;
	animation-name: olaf;
	animation-delay: 8s;
	animation-duration: 6s;
	animation-fill-mode: forwards;
}

@keyframes arbol{
	0%{
		opacity: 0;
		top: -60pxpx;
		left: 350px;
		
	}

	100%{
		opacity: 1;
		left:350px;
		top: 75px;

	}
}
#arbol{
	opacity: 0;
	position:absolute;
	left:350px;
	top: -60px;
	animation-name: arbol;
	animation-delay: 2s;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}



